<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.mybatisplus_sys.mapper.WorkMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.feri.mybatisplus_sys.entity.Work">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="address" property="address" />
		<result column="money" property="money" />
		<result column="createtime" property="createtime" />
	</resultMap>

	<update id="updateBymoney" statementType="PREPARED">
		update work set money=#{money} where id=#{id}
	</update>
</mapper>
